body{
    font-family: Verdana,Arial,sans-serif;
    margin: 0;
    padding:0;
    color: #333;
    background-color: #dddddd;

}
.clearFix:after {
    display: block;
    clear: both;
    content: ".";
    visibility: hidden;
    height: 0;
    line-height: 0;
}
#wrapper{
    max-width: 960px;
    margin:0 auto;
}
header{
    text-align: center;
    padding: 30px;
}
.tagline{
    font-family: Georgia, "Times New Roman", serif;
    font-style: italic;
    color: #999999;
    margin:0 0 25px 0;
}

#logo{
    display: inline-block;
    text-decoration: none;
}
#logo h1{
    display: inline-block;
    font-size: 30px;
    margin: 0;
    text-transform: uppercase;
    color: #950101;

}
#logo h1 .subtext{
    display: block;
    padding-top: 5px;
    color: #666666;
    font-family: Georgia, "Times New Roman", serif;
    letter-spacing: 0.48em;
    text-indent: 0.48em;
}
.special{
    color: #950101;
}
h2{
    position: relative;
    top:-1rem;
    border-bottom: 1px solid #aaaaaa;
    text-transform: uppercase;
    text-align: center;
}
h2 > span{
    position: relative;
    top:1rem;
    background-color:#dddddd;
    padding: 0 10px;

}
.side-content{
    display: inline-block;
    padding: 0 20px 20px 20px;
}
.left{
    float: left;
}
blockquote{
    text-align: center;
    color: #666666;
    font-family:Georgia, "Times New Roman", serif ;
}

.gallery{
    list-style: none;
    margin: 0;
    padding: 0;
}

.item{
    float: left;
    width: 270px;
    background-color: white;
    margin: 15px;
    padding: 10px;
}
.item p{
    text-align: center;
    font-family: Georgia, "Times New Roman", serif;
    color: #666666;
}
footer p{
    position: relative;
    top:-1rem;
    border-bottom: 1px solid #aaaaaa;
    text-transform: uppercase;
    text-align: center;
    font-family: Georgia, "Times New Roman", serif;
    color: #666666;
}
.copyright{
    position: relative;
    top:0.5rem;
    background-color:#dddddd;
    padding: 0 10px;

}
